body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    color: #fff;
}

header h1 {
    text-align: center;
    margin: 0;
}

header p {
    text-align: center;
    margin: 0;
}

header a {
    display: block;
    text-align: center;
    margin-top: 10px;
}

#appleid-signin {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 200px;
    padding: 5px;
}

.currency_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.currency_from,
.currency_to {
    margin-bottom: 10px;
}

#currency_cal_btn {
    padding: 10px 20px;
    background-color: #118bee;
    color: #fff;
    border: none;
    cursor: pointer;
}

.real_time_currency_rate {
    display: flex;
    flex-direction: column;
}
.currency_rate,
.currency_rate_value {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.note_currency_rate {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input_note_currency {
    width: 210px;
    padding: 5px;
    margin-bottom: 20px;
}

#currencyInput {
    width: 100%;
}

#switchBtn {
    background-color: #fff;
    border-radius: 20%;
    border-color: #fff;
}
#switchBtn:hover {
    border-color: #118bee;
    color: #fff;
}

.notification_btn,
#save_currency_btn {
    padding: 10px 20px;
    background-color: #118bee;
    color: #fff;
    border: none;
    cursor: pointer;
}

.notification_btn {
    margin-right: 10px;
}

.save_currency_btn {
    background-color: #008000;
}

.currencyNotifiInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#getCurrencyRateNotiBtn {
    width: 1rem;
    height: 1rm;
    font-size: 2rem;
    border: none;
    background-color: transparent;
    border-color: #fff;
    cursor: pointer;
    transition: transform 0.3s;
}

.rotate {
    transform: rotate(180deg);
}

.goalCurrencyList {
    display: none;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.btn_group {
    display: flex;
    flex-direction: row;
}

.content__btn_group {
    color: #fff;
}

.notificationId {
    display: none;
}

.cancelBtn {
    background-color: red;
    border-color: red;
}

.deleteCurrencyRateBtn,
.updateCurrencyRateBtn {
    color: #333;
}

.subscribe__btn_group {
    color: #333;
}
.hidden_Btn {
    display: none;
}

.toast__content {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.show-content {
    display: block;
}

.show-toast {
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
}
